h1 {
  text-align: center;
  color: blue;
}

::placeholder {
  text-transform: none; /* ensure placeholder stays lowercase if global styles exist */
}

.error {
  background-color: #ffcccc; 
}


/* :root {
  --chart-0-border: green;
  --chart-0-fill: lightgreen;
  --chart-1-border: red;
  --chart-1-fill: salmon;
}

.error {
  background-color: #ffcccc; 
}

.chart-canvas {
  width: 100%;
}

.right-margin {
  margin-right: 12px; 
}
 */
